<div class="container">
  <div class="wrapper col-md-5 col-sm-5 col-xs-5 top_intro " >
    <div class ="center">horsebookを使うと、馬好きな友達や仲間たちとつながりを深められます。ケータイ、スマートフォンからもアクセスできます。</div>
    <div class="top_image" >
      <%= link_to image_tag('top.png'), topics_path %>
    </div>
  </div>

  <div class="wrapper col-md-5 col-sm-5 col-xs-5 top_signup " >
    <% if user_signed_in? %>
      <%= render 'tops/topic' %>
    <% else %>
      <%= render 'tops/new' %>
    <% end%>
  </div>
</div>
