<section class="main-header">
</section>

<section class="function">
    <div class="function-images">
      <div class="function-image">
      </div>
      <div class="function-image">
      </div>
      <div class="function-image">
      </div>
      <div class="function-image">
      </div>
  </div>
</section>

<div id="page-top-btn" class="page-top-btn">
  <p><a class="move-page-top" id="move-page-top">▲</a></p>
</div>