<br>
<div class="prof-img">
  <%= link_to profile_img(current_user), edit_user_registration_path %>
</div>

<ul class="dropdown-menu">
  <li><%= link_to 'マイページ', edit_user_registration_path %></li>
</ul>